/*-----------------SECTION-MIXINS--------------------*/
/*------------------------SECTION-FONTS----------------*/
@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri-LightItalic.woff2") format("woff2"), url("../fonts/Calibri-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri.woff2") format("woff2"), url("../fonts/Calibri.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri-Italic.woff2") format("woff2"), url("../fonts/Calibri-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri-BoldItalic.woff2") format("woff2"), url("../fonts/Calibri-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri-Light.woff2") format("woff2"), url("../fonts/Calibri-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri-Bold.woff2") format("woff2"), url("../fonts/Calibri-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Semibold.woff2") format("woff2"), url("../fonts/OpenSans-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Regular.woff2") format("woff2"), url("../fonts/MyriadPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*------------------------SECTION-SMART-GRID----------------*/
/*------------------------SECTION-ADJUSTMENT----------------*/
input::-ms-clear {
  display: none;
}

html.ie9 * {
  border-radius: 0 !important;
}

html {
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  background: #ffffff;
  font-family: "Calibri", Arial, sans-serif;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.page {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 1099.99px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 991.99px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 767.99px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 575.99px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.content ul {
  margin: 1em 0;
  padding-left: 40px;
}

.content ul li {
  list-style: disc;
}

.content h1 {
  margin: 0.67em 0;
}

.content h2 {
  margin: 0.83em 0;
}

.content h3 {
  margin: 1em 0;
}

.content h4 {
  margin: 1.33em 0;
}

.content h5 {
  margin: 1.67em 0;
}

.content h5 {
  margin: 2.33em 0;
}

.content p {
  margin: 1em 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  max-width: 100%;
}

b {
  font-weight: 800;
  font-size: 25px;
}

/*-----------------SECTION-HOVER-ANIM--------------------*/
/*------------------------SECTION-COMMON----------------*/
/*------------------------SECTION-HEADER----------------*/
/*-----------------SECTION-MAIN--------------------*/
.main {
  background-image: url(../images/bg/bg.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 60px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
}

@media screen and (max-width: 1099.99px) {
  .main {
    height: initial;
  }
}

@media screen and (max-width: 991.99px) {
  .main {
    padding-bottom: 100px;
    background-image: url(../images/bg/bg2.jpg);
  }
}

.main__left, .main__right {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
}

@media screen and (max-width: 991.99px) {
  .main__left, .main__right {
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 991.99px) {
  .main__left, .main__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 991.99px) {
  .main__left {
    margin-bottom: 30px;
  }
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 22px;
}

@media screen and (max-width: 991.99px) {
  .main__content {
    margin-bottom: 0;
  }
}

.main__desc {
  line-height: 1.42;
}

@media screen and (max-width: 1099.99px) {
  .main__desc {
    text-align: center;
  }
}

.main__desc_big {
  font-size: 24px;
  text-transform: uppercase;
}

.main__text {
  -ms-flex-item-align: end;
  align-self: flex-end;
  position: relative;
  top: -30px;
  left: 10px;
  line-height: 1.22;
}

@media screen and (max-width: 1099.99px) {
  .main__text {
    position: static;
    -ms-flex-item-align: center;
    align-self: center;
    text-align: center;
  }
}

.main__text-row:nth-child(3) {
  margin-left: -88px;
}

@media screen and (max-width: 1099.99px) {
  .main__text-row:nth-child(3) {
    margin-left: 0;
  }
}

.logo {
  margin-bottom: 30px;
}

@media screen and (max-width: 767.99px) {
  .logo {
    width: 149px;
    margin-bottom: 17px;
  }
}

@media screen and (max-width: 991.99px) {
  .logo2 {
    position: absolute;
    bottom: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.title {
  color: #F3494F;
  font-size: 60px;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-weight: bold;
}

@media screen and (max-width: 767.99px) {
  .title {
    font-size: 40px;
    margin-bottom: 20px;
  }
}

.slider {
  margin-bottom: 65px;
  width: 570px;
  position: relative;
}

@media screen and (max-width: 1099.99px) {
  .slider {
    width: auto;
  }
}

@media screen and (max-width: 767.99px) {
  .slider {
    margin-bottom: 33px;
    padding: 0 25px;
  }
}

.slider__text {
  text-align: center;
  position: absolute;
  right: 4%;
  bottom: 10%;
  color: #ffffff;
  font-size: 48px;
}

@media screen and (max-width: 767.99px) {
  .slider__text {
    font-size: 22px;
    right: 17%;
    bottom: 23.4%;
  }
}

.iphone {
  margin-top: -40px;
  margin-bottom: -50px;
  margin-left: -10px;
  margin-right: -50px;
  position: relative;
}

@media screen and (max-width: 991.99px) {
  .iphone {
    margin-left: -80px;
  }
}

.iphone__wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 13.4%;
  margin-bottom: 29.5%;
  margin-left: 21%;
  margin-right: 18.2%;
}

@media screen and (max-width: 1099.99px) {
  .iphone__wrapper {
    margin-right: 14.2%;
    margin-left: 22%;
  }
}

.iphone__top {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
}

.iphone__content {
  margin-top: 30px;
  height: calc(100% - 30px);
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  overflow: hidden;
  padding: 0 15px;
}

.iphone__messages {
  height: 100%;
}

.messages {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.message {
  max-width: 70%;
  -ms-flex-item-align: end;
  align-self: flex-end;
  background-color: #067ffe;
  margin-bottom: 20px;
  border-radius: 15px;
  position: relative;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  -webkit-transform: translate3d(500px, 0, 0);
  transform: translate3d(500px, 0, 0);
}

.message:after {
  content: url("/images/bg/message-tail.png");
  display: block;
  position: absolute;
  bottom: -3px;
  right: -2px;
}

.message:nth-child(even) {
  background-color: #e5e6ea;
  border-radius: 20px;
  -ms-flex-item-align: start;
  align-self: flex-start;
  max-width: 74%;
  -webkit-transform: translate3d(-500px, 0, 0);
  transform: translate3d(-500px, 0, 0);
}

.message:nth-child(even):after {
  content: url("/images/bg/message-tail2.png");
  display: block;
  position: absolute;
  bottom: -4px;
  left: -4px;
}

.message:nth-child(even) .message__text {
  color: #000000;
}

.message_grey {
  background-color: #e5e6ea;
  -ms-flex-item-align: end !important;
  align-self: flex-end !important;
  -webkit-transform: translate3d(500px, 0, 0);
  transform: translate3d(500px, 0, 0);
}

.message_grey:after {
  content: url("/images/bg/message-tail3.png");
}

.message_grey .message__text {
  color: #000000;
}

.message.active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.message__img-img {
  width: 100%;
}

.message__text {
  padding: 6px 15px;
  min-height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Myriad Pro";
  font-size: 12px;
  letter-spacing: 0.06px;
  line-height: 18px;
  overflow: hidden;
}

@media screen and (max-width: 575.99px) {
  .message__text {
    font-size: 10px;
    line-height: 14px;
  }
}

.message__link {
  color: #8a8a8f;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.19px;
  padding: 0 15px;
  margin-bottom: 12px;
}

/*------------------------SECTION-FOOTER---------------------*/

/*# sourceMappingURL=main.css.map */