.main {
  background-image: url(/images/bg/bg.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  flex-grow: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  &__left, &__right {
    @include col;
    @include size(12);
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
  }

  &__desc {
    line-height: 1.42;

    &_big {
      font-size: 24px;
      text-transform: uppercase;
    }
  }

  &__text {
    align-self: flex-end;
    position: relative;
    top: -30px;
    left: 10px;
    line-height: 1.22;
    &-row {
      &:nth-child(3) {
        margin-left: -83px;
      }
    }
  }

}

.logo {
  margin-bottom: 30px;
}

.title {
  color: #009fe3;
  font-size: 60px;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-weight: 400;
}

.slider {
  margin-bottom: 65px;
  width: 570px;
}

.iphone {
  margin-top: -40px;
  margin-bottom: -50px;
  margin-left: -10px;
  margin-right: -50px;
}
